@using WebApplication.BLL.Logic.Models
@model IEnumerable<ProductDTO>


<div class="container">
    <a class="bg-primary text-white" asp-controller="Product" asp-action="ProductCreate">Add Product</a>
    <div class="card-columns">
        @foreach (var product in Model)
        {

            <div class="card card-user bg-secondary text-light">
                <img class="card-img-top" src="@product.Picture" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <div class="row justify-content-around">
                        <a class="bg-dark text-white" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">See Profile</a>
                        <a class="bg-primary text-white" asp-controller="Product" asp-action="ProductEdit" asp-route-id="@product.Id">Edit</a>
                        <button class="btn-primary">@product.Price $</button>

                    </div>
                </div>
            </div>


        }
    </div>
</div>